@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Bitter&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Balsamiq Sans";
  color: #545e6f;
  letter-spacing: 0.2px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #f1f2f5;
}

.header {
  background: rgb(0, 128, 255);
  text-align: center;
  color: #fff;
  font-size: 2rem;
  padding: 20px 25px;
  font-family: "Bitter";
}

.tasks {
  width: 450px;
  margin: 40px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 0 rgba(84, 94, 111, 0.2);
}

.tasks__header {
  padding: 24px 24px 0;
  font-family: "Bitter";
}

.tasks__title {
  font-size: 25px;
  font-weight: normal;
  margin: 0 0 8px;
}

.tasks__header div {
  color: #777d8c;
}

.tasks__form {
  padding: 22px 24px 18px;
}

.tasks__form input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #dcdfe4;
  padding: 12px 14px;
  outline: 0;
  font-family: "Balsamiq Sans";
  font-size: 14px;
  color: #545e6f;
}

.tasks__form input:focus {
  border-color: rgb(80, 164, 248);
  box-shadow: 0 0 0 3px rgb(120, 187, 253);
}

.tasks__form input::placeholder {
  color: #777d8c;
}
